.edit-user-form .full-width {
  width: 100%;
  margin-bottom: 16px;
}

.dialog-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: center;
}

.dialog-actions {
  margin-top: 10px;
}
