<h2 class="text-center bold">{{ isEditMode ? "Edit User" : "Add User" }}</h2>

<form [formGroup]="form" (ngSubmit)="submitForm()" class="form-container">
  <!-- Code -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Code</mat-label>
    <input matInput formControlName="code" readonly />
    <mat-error *ngIf="form.get('code')?.hasError('Unique')">
      Code must be unique
    </mat-error>
  </mat-form-field>

  <!-- NameFl + NameSl -->
  <div class="row-fields">
    <mat-form-field appearance="outline" class="flex-field">
      <mat-label>Name in English</mat-label>
      <input matInput formControlName="nameFl" />
      <mat-error *ngIf="form.get('nameFl')?.hasError('required')"
        >Required</mat-error
      >
      <mat-error *ngIf="form.get('nameFl')?.hasError('minlength')"
        >Min 3 letters</mat-error
      >
      <mat-error *ngIf="form.get('nameFl')?.hasError('pattern')"
        >Only English letters allowed</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="flex-field">
      <mat-label>Name in Arabic</mat-label>
      <input matInput formControlName="nameSl" />
      <mat-error *ngIf="form.get('nameSl')?.hasError('required')"
        >Required</mat-error
      >
      <mat-error *ngIf="form.get('nameSl')?.hasError('minlength')"
        >Min 3 letters</mat-error
      >
      <mat-error *ngIf="form.get('nameSl')?.hasError('pattern')"
        >Only Arabic letters allowed</mat-error
      >
    </mat-form-field>
  </div>

  <!-- Tags -->
  <div class="p-fluid">
    <p-floatLabel>
      <p-chips
        id="chips"
        formControlName="tags"
        separator=","
        [addOnBlur]="false"
        (onAdd)="onTagAdd($event)"
        placeholder="Type D:\ and press Enter"

      ></p-chips>
      <label for="chips" class="">Tags*</label>
    </p-floatLabel>
    <!-- required error -->
    <mat-error *ngIf="form.get('tags')?.hasError('required')"></mat-error>
    <!-- regex error -->
    <mat-error *ngIf="form.get('tags')?.hasError('mustStartWithD')">
      Each tag must start with <strong>D:\</strong>
    </mat-error>
  </div>

  <!-- Country + City -->
  <div class="row-fields">
    <mat-form-field appearance="outline" class="flex-field">
      <mat-label>Country</mat-label>
      <mat-select formControlName="country">
        <mat-option *ngFor="let country of countries" [value]="country.isoCode">
          {{ country.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="flex-field">
      <mat-label>City</mat-label>
      <mat-select formControlName="city">
        <mat-option *ngFor="let city of cities" [value]="city">{{
          city
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('city')?.hasError('required')"
        >City is required</mat-error
      >
    </mat-form-field>
  </div>

  <!-- IPv4 -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>IPv4</mat-label>
    <input
      matInput
      formControlName="ip"
      placeholder="e.g. 1.1.1.1 (0–255)"
      inputmode="numeric"
    />
    <mat-error *ngIf="form.get('ip')?.hasError('required')"
      >IP is required</mat-error
    >
    <mat-error *ngIf="form.get('ip')?.hasError('pattern')"
      >Invalid IPv4 address</mat-error
    >
  </mat-form-field>

  <!-- Description -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <div class="form-actions">
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      {{ isEditMode ? "Update" : "Add" }}
    </button>
    <button mat-stroked-button color="warn" type="button" (click)="closeForm()">
      Close
    </button>
  </div>
</form>
